<p id="notice"><%= notice %></p>

<h1>The catalog</h1>

<% @products.each do |p| %>
  <div class="entry">
    <%= image_tag p.image_url %>
    <h3><%= p.title %></h3>
    <p class="description"><%= sanitize p.description %></p>
    <div class="price-line">
      <span class="price"><%= sprintf('$%0.02f', p.price) %></span>
    </div>
  </div>
<% end %>
